server {
    listen [::]:443 ssl ipv6only=on;
    listen 443 ssl;
    server_name www.rajurayhan.com rajurayhan.com;

    root /var/www/html;
    index index.html;

    # React Router Configuration
    location / {
        try_files $uri $uri/ /index.html;
    }

    # SSL Configuration
    ssl_certificate /etc/letsencrypt/live/rajurayhan.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/rajurayhan.com/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    # SSL Improvements
    ssl_stapling on;
    ssl_stapling_verify on;
    resolver 8.8.8.8 1.1.1.1 valid=300s;
    resolver_timeout 5s;

    # Security Headers
    add_header Strict-Transport-Security "max-age=63072000; includeSubDomains; preload" always;
}

# HTTP to HTTPS redirect
server {
    listen 80;
    listen [::]:80;
    server_name www.rajurayhan.com rajurayhan.com;
    
    return 301 https://$host$request_uri;
}